<div class="container custom-container-2">

  <!-- Show it when there is no employee -->
  <div class="no-data text-center" *ngIf="Employee">
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
  </div>

  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Employee">
    <h3 class="mb-3 text-center">Employees List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of Employee">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>
            <span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
            <span class="delete" (click)="deleteEmployee(employee.id)">Delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<!--
</div><div class="container custom-container-2">

  &lt;!&ndash; Show it when there is no employee &ndash;&gt;
  <div class="no-data text-center" *ngIf="Employee">
    <p>There is no employee added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
  </div>

  &lt;!&ndash; Employees list table, it hides when there is no employee &ndash;&gt;
&lt;!&ndash;
  <div *ngIf="Employee">
    <h3 class="mb-3 text-center">Employees List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of Employee">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phone}}</td>
          <td>
            <span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
            <span class="delete" (click)="deleteEmployee(employee.id)">Delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
&ndash;&gt;

</div>
-->
